<div>
   <!-- loader  -->
   <!-- <div class="loader_bg">
    <div class="loader"><img src="assets/images/loading.gif" alt="#"/></div>
  </div> -->
  <!-- end loader -->

  <!-- header -->
  <header class="full_bg margin_left60">
    <!-- header inner -->
    <div class="header">
        <div class="container">
          <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                <div class="full">
                    <div class="center-desk">
                      <div class="logo">
                          <a href="index.html"><img src="assets/images/logo.png" alt="#"/></a>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                <nav class="navigation navbar navbar-expand-md navbar-dark ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarsExample04">
                      <ul class="navbar-nav mr-auto">
                          <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="department.html">Departments</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="service.html">services</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="doctorslist.html">doctorslist </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact Us</a>
                          </li>
                      </ul>
                    </div>
                    <ul class="search">
                      <li><a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                    </ul>
                </nav>
              </div>
          </div>
        </div>
    </div>
    <!-- end header inner -->
    <!-- end header -->
    <!-- banner -->
    <section class="banner_main">
        <div id="myCarousel" class="carousel slide bannerhe" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="container">
                    <div class="carousel-caption  banner_po">
                      <div class="row">
                          <div class="col-md-9">
                            <div class="build_box">
                                <span>we provde total</span>
                                <h1>health care solution</h1>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alterationThere are many variations of passages of y islightly believable.</p>
                                <a class="read_more conatct_btn" href="contact.html" role="button">Contact us</a>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption banner_po">
                      <div class="row">
                          <div class="col-md-9">
                            <div class="build_box">
                                <span>we provde total</span>
                                <h1>health care solution</h1>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alterationThere are many variations of passages of y islightly believable.</p>
                                <a class="read_more conatct_btn" href="contact.html" role="button">Contact us</a>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption banner_po">
                      <div class="row">
                          <div class="col-md-9">
                            <div class="build_box">
                                <span>we provde total</span>
                                <h1>health care solution</h1>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alterationThere are many variations of passages of y islightly believable.</p>
                                <a class="read_more conatct_btn" href="contact.html" role="button">Contact us</a>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption banner_po">
                      <div class="row">
                          <div class="col-md-9">
                            <div class="build_box">
                                <span>we provde total</span>
                                <h1>health care solution</h1>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alterationThere are many variations of passages of y islightly believable.</p>
                                <a class="read_more conatct_btn" href="contact.html" role="button">Contact us</a>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
          </a>
        </div>
    </section>
  </header>
   <!-- end banner -->
</div>


