<app-menu></app-menu>

  <main>

    <div class="row">
      <div class="col-sm-12">
        <h3>Datatable with checkbox example</h3>

            <ngx-datatable
                class="material "
                [cssClasses]=""
                [rows]="data"
                [columns]="columns"
                [selected]="selectedRows"
                [ColumnMode]="columnMode"
                [cellContext]="cellContext"
                (select)="onClickCheckBox($event)">

            </ngx-datatable>

      </div>
    </div>

  </main>
