<div>

  <app-header></app-header>


  <!-- clinicr -->
  <div class="clinicr margin_right60">
    <div class="container">
       <div class="row">
          <div class="col-sm-12">
             <div class="titlepage">
                <h2><strong class="balck">WELCOME TO</strong> OUR CLINICr</h2>
                <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look lIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Th</span>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-12">
             <div class="vedio">
                <figure><img src="assets/images/vedi.jpg" alt="#"/></figure>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end clinicr -->
 <!-- service -->
 <div class="service margin_left60">
    <div class="container">
       <div class="row">
          <div class="col-sm-12">
             <div class="titlepage">
                <h2><strong class="balck">we provide</strong> services</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-4">
             <div class="service_box text_align_center">
                <figure><img src="assets/images/service_1.jpg" alt="#"/></figure>
                <h3>Health information</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure L</p>
             </div>
          </div>
          <div class="col-md-4">
             <div class="service_box text_align_center">
                <figure><img src="assets/images/service_2.jpg" alt="#"/></figure>
                <h3>Medical </h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure L</p>
             </div>
          </div>
          <div class="col-md-4">
             <div class="service_box text_align_center">
                <figure><img src="assets/images/service_3.jpg" alt="#"/></figure>
                <h3>Research</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure L</p>
             </div>
          </div>
          <div class="col-sm-12">
             <a class="read_more" href="Javascript:void(0)">
             Read more
             </a>
          </div>
       </div>
    </div>
 </div>
 <!-- end service -->
 <!-- doctors -->
 <div class="doctors margin_right60">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage text_align_left">
                <h2><strong class="balck">Our </strong> Doctors</h2>
                <span>It is a long established fact that a reader will be distracted by the readableContrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure L</span>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div id="doct" class="carousel slide doctors_ban" data-ride="carousel">
                <ol class="carousel-indicators">
                   <li data-target="#doct" data-slide-to="0" class="active"></li>
                   <li data-target="#doct" data-slide-to="1"></li>
                   <li data-target="#doct" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                   <div class="carousel-item active">
                      <div class="container-fluid">
                         <div class="carousel-caption relative3">
                            <div class="row">
                               <div class="col-md-4">
                                  <div class="doctor">
                                     <div class="doctor_img">
                                        <figure><img src="assets/images/docter.jpg" alt="#"/></figure>
                                        <div id="pro_ho" class="doctor_text">
                                           <a href="doctorslist.html">VIEW About doctor</a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-md-4">
                                  <div class="doctor">
                                     <div class="doctor_img">
                                        <figure><img src="assets/images/docter1.jpg" alt="#"/></figure>
                                        <div id="pro_ho" class="doctor_text">
                                           <a href="doctorslist.html">VIEW About doctor</a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-md-4">
                                  <div class="doctor">
                                     <div class="doctor_img">
                                        <figure><img src="assets/images/docter.jpg" alt="#"/></figure>
                                        <div id="pro_ho" class="doctor_text">
                                           <a href="doctorslist.html">VIEW About doctor</a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="carousel-item">
                      <div class="container-fluid">
                         <div class="carousel-caption relative3">
                            <div class="row">
                               <div class="col-md-4">
                                  <div class="doctor">
                                     <div class="doctor_img">
                                        <figure><img src="assets/images/docter1.jpg" alt="#"/></figure>
                                        <div id="pro_ho" class="doctor_text">
                                           <a href="doctorslist.html">VIEW About doctor</a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-md-4">
                                  <div class="doctor">
                                     <div class="doctor_img">
                                        <figure><img src="assets/images/docter.jpg" alt="#"/></figure>
                                        <div id="pro_ho" class="doctor_text">
                                           <a href="doctorslist.html">VIEW About doctor</a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-md-4">
                                  <div class="doctor">
                                     <div class="doctor_img">
                                        <figure><img src="assets/images/docter1.jpg" alt="#"/></figure>
                                        <div id="pro_ho" class="doctor_text">
                                           <a href="doctorslist.html">VIEW About doctor</a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="carousel-item">
                      <div class="container-fluid">
                         <div class="carousel-caption relative3">
                            <div class="row">
                               <div class="col-md-4">
                                  <div class="doctor">
                                     <div class="doctor_img">
                                        <figure><img src="assets/images/docter.jpg" alt="#"/></figure>
                                        <div id="pro_ho" class="doctor_text">
                                           <a href="doctorslist.html">VIEW About doctor</a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-md-4">
                                  <div class="doctor">
                                     <div class="doctor_img">
                                        <figure><img src="assets/images/docter1.jpg" alt="#"/></figure>
                                        <div id="pro_ho" class="doctor_text">
                                           <a href="doctorslist.html">VIEW About doctor</a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-md-4">
                                  <div class="doctor">
                                     <div class="doctor_img">
                                        <figure><img src="assets/images/docter.jpg" alt="#"/></figure>
                                        <div id="pro_ho" class="doctor_text">
                                           <a href="doctorslist.html">VIEW About doctor</a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <a class="carousel-control-prev" href="#doct" role="button" data-slide="prev">
                   <i class="fa fa-caret-left" aria-hidden="true"></i>
                   <span class="sr-only">Previous</span>
                   </a>
                   <a class="carousel-control-next" href="#doct" role="button" data-slide="next">
                   <i class="fa fa-caret-right" aria-hidden="true"></i>
                   <span class="sr-only">Next</span>
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end doctors -->
 <!-- departments -->
 <div class="departments margin_left60">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2><strong class="balck">our </strong> Departments</h2>
                <span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure L</span>
             </div>
          </div>
          <div class="col-sm-12">
             <div class="department_img">
                <figure><img src="assets/images/doct.jpg" alt="#"/></figure>
                <a class="read_more" href="Javascript:void(0)">Read more</a>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end departments -->
 <!--  contact -->
 <div class="contact">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2><strong class="balck">Order</strong> to the Doctor</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <form id="request" class="main_form">
                <div class="row">
                   <div class="col-md-6 ">
                      <input class="contactus" placeholder="Your name " type="type" name="Your name ">
                   </div>
                   <div class="col-md-6">
                      <input class="contactus" placeholder="Phone" type="type" name="Phone">
                   </div>
                   <div class="col-md-6">
                      <input class="contactus" placeholder="Select department" type="type" name="Select department">
                   </div>
                   <div class="col-md-6">
                      <input class="contactus" placeholder="Select Doctor" type="type" name="Select Doctor">
                   </div>
                   <div class="col-md-12">
                      <textarea class="textarea" placeholder="Message" type="type" Message="Name">Message</textarea>
                   </div>
                   <div class="col-md-12">
                      <button class="send_btn">Make an Appointment</button>
                   </div>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>
 <!-- end contact -->

 <!--  footer -->
 <app-footer></app-footer>
 <!-- end footer -->

 <!-- Javascript files
 <script src="js/jquery.min.js"></script>
 <script src="js/bootstrap.bundle.min.js"></script>
 <script src="js/jquery-3.0.0.min.js"></script>
     sidebar -->
 <!-- <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
 <script src="js/custom.js"></script> -->
</div>


