<app-menu></app-menu>
<main>
  <div class="slider-area2">
    <div class="slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap hero-cap2 text-center">
              <h2>Exceptions</h2>
              <p class="mt-25" style="font-size:20px">Les exceptions representent les jours o&ugrave; vos avez eu un empechement ou vous serez en congés.
              <br/> <span class="text-danger mt-100">Lorsque vous definissez vous exceptions vous devez préciser la durée de validité   </span>
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="single-slider slider-height align-items-center pt-60">
    <div class="container">
      <div class="row" style="margin-right: -47px">
        <div class="col-xl-7 col-lg-9 col-md-8 col-sm-9 pb-20">
          <div class="section-tittle section-tittle2 mb-20">
            <span>Exceptions</span>
            <h2 style="font-size: 30px; display: block ruby;">Definissez vos exceptions</h2>
          </div>
        </div>
        <div class="col" style="font-size: 18px;">
          <ngx-datatable class="text-responsive table-bordered table-responsive mb-50" [rows]="schedule"
            [columns]="columns" [headerHeight]="40" [reorderable]="false">
            <ngx-datatable-column name="heures \ jours" prop="hour">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <p class="text-center text-responsive">{{ row.hour }}</p>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column *ngFor="let column of columns" [name]="column.name!" [prop]="column.prop!">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <p class="text-center">
                  <input type="checkbox" title="{{ column.name + ',' + row.hour }}"
                    (change)="onCheckboxChange($event, row!.hour, column.prop?.toString()!)"
                    [disabled]="!row[column.prop!]">
                </p>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
          <div class="row">
            <div class="col">
              <label for="validite">Definissez la duree de validité:</label>
            </div>
            <div class="col">
              <select class="custom-select h-auto" name="validite" [(ngModel)]="exception.validite_id">
                <option *ngFor="let validite of validites" value="{{ validite.id }}">{{ validite.semaine }}</option>
              </select>
            </div>
            <div class="col">
              Semaine(s)
            </div>
            <div class="col">
            </div>
          </div>
          <button type="button" class="btn  hero-btn float-right mb-100" data-animation="fadeInLeft" data-delay="0.5s"
            (click)="chargerException()">
            valider <i class="ti-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="home_blog-area section-padding30"></div>
<app-footer></app-footer>