<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Ensemble des {{ origin }}</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Share</button> -->
      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Export</button> -->
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary ">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-calendar" aria-hidden="true">
        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
        <line x1="16" y1="2" x2="16" y2="6"></line>
        <line x1="8" y1="2" x2="8" y2="6"></line>
        <line x1="3" y1="10" x2="21" y2="10"></line>
      </svg>
      Calendrier
    </button>
  </div>
</div>
<br/>
<div class="table-responsive">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Ville</th>
        <th scope="col">Numero de telephone</th>
        <th scope="col">Adresse Email</th>
        <th scope="col">Numero de telephone</th>
        <th scope="col">Action &aacute; effectuer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.id }}</td>
        <td>{{ patient.pat_nom }}</td>
        <td>{{ patient.pat_prenom }}</td>
        <td>{{ patient.pat_ville }}</td>
        <td>{{ patient.pat_date_Nais }}</td>
        <td>{{ patient.pat_email }}</td>
        <td>{{ patient.pat_tel }}</td>
        <td class="col-md-3">
          <button type="button" class="btn btn-outline-info">Infos</button>
          &nbsp;
          <button type="button" class="btn btn-outline-primary">Update</button>
          &nbsp;
          <button type="button" class="btn btn-outline-danger">Delete</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>
