<app-menu></app-menu>
<main>

  <div class="single-slider slider-height align-items-center pt-100">
    <div class="container">
      <div class="row" style="margin-right: -47px; display: block;">
        <div class="text-center">
          <h1> Votre calendrier a ete bien entregistre</h1>
          <p> <a href="#" style="color: darkblue;"> Vous pouvez consulter votre calendrier ici</a> </p>
          <!-- si il a defini les exceptions -->
          <p> <a href="#" style="color: darkblue;"> Vous pouvez consulter votre Vous exceptions ici</a> </p>
          <!-- sinon -->
          <p> <a href="#" style="color: darkblue;"> Vous pouvez modifier vos exceptions ici</a> </p>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
