<app-menu></app-menu>
<main>
  <div class="slider-area2">
    <div class="slider-height2 d-flex align-items-center mb-150">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap hero-cap2 text-center">
              <h2> Votre calendrier à été bien entregistré</h2>
              <br/>
              <br/>
              <br/>
          <h3> <a href="#" style="color: darkblue;"> Vous pouvez consulter votre calendrier ici</a> </h3>
          <!-- si il a defini les exceptions -->
          <p> <a href="#" style="color: darkblue;"> Vous pouvez consulter votre rendez-vous</a> </p>
          <!-- sinon -->
          <p> <a href="#" style="color: darkblue;"> Vous pouvez modifier vos exceptions ici</a> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</main>
<app-footer></app-footer>
