
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{{ origin }}</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-primary" [routerLink]="['/medecins/ajout-medecin']">
       <!-- icon + -->
          Nouveau
      </button>
    </div>
  </div>
</div>
<br/>

<form method="post"  (ngSubmit)="updateData()">
  <h4 class="pb-3">Veillez entrer ces informations:</h4>


  <p *ngIf="list_error != null" class="text-danger fs-4">{{ list_error.message }}</p>


  <div class="row pb-4 form-group">
    <div class="col">
      <label for="nom" class="fs-5 font-weight-bold">Entrez le Nom</label><span class="text-danger fs-5"> *</span>
      <input type="text" id="nom" class="form-control" placeholder="Nom" name="med_nom" [(ngModel)]="medecin.med_nom">
      <p *ngIf="list_error != null" class="text-danger">{{ list_error.errorList.med_nom }}</p>
    </div>
    <div class="col">
      <label for="prenom" class="fs-5 font-weight-bold">Entrez le Prenom</label><span class="text-danger fs-5"> *</span>
      <input type="text" id="prenom" class="form-control" placeholder="Prenom" name="med_prenom" [(ngModel)]="medecin.med_prenom">
      <p *ngIf="list_error != null" class="text-danger" >{{ list_error.errorList.med_prenom }}</p>
    </div>
  </div>
  <div class="row pb-4 form-group">
    <div class="col">
      <label for="email" class="fs-5">Entrez l'adresse Email</label><span class="text-danger fs-5"> *</span>
      <input type="email" id="email" class="form-control"   name="med_email"  [(ngModel)]="medecin.med_email">
      <p *ngIf="list_error != null" class="text-danger" >{{ list_error.errorList.med_email }}</p>
    </div>
    <div class="col">
      <label for="tel" class="fs-5 font-weight-bold">Entrez le Numero de telephone</label><span class="text-danger fs-5"> *</span>
      <input type="text"  id="tel" class="form-control" placeholder="Numero de telephone" name="med_tel"  [(ngModel)]="medecin.med_tel">
      <p *ngIf="list_error != null" class="text-danger" >{{ list_error.errorList.med_tel }}</p>
    </div>
  </div>
  <div class="row pb-4 form-group">
    <div class="col">
      <label for="ville" class="fs-5">Entrez la ville de Residence</label><span class="text-danger fs-5"> *</span>
      <input type="text" id="ville" class="form-control" placeholder="ville" name="med_ville" [(ngModel)]="medecin.med_ville">
      <p *ngIf="list_error != null" class="text-danger" >{{ list_error.errorList.med_ville }}</p>
    </div>
    <div class="col">
      <label for="dateNais" class="fs-5 font-weight-bold">Entrez la date de Naissance</label><span class="text-danger fs-5"> *</span>
      <input type="date" id="dateNais" class="form-control" name="med_dateNais"  [(ngModel)]="medecin.med_dateNais">
      <p *ngIf="list_error != null" class="text-danger">{{ list_error.errorList.med_dateNais }}</p>
    </div>
  </div>
  <input type="submit" value="Valider" class="btn btn-primary" style=" float: right;">
</form>



