<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="nom">
    <mat-error *ngIf="form.get('nom').invalid">Veuillez entrer votre nom</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Prénom</mat-label>
    <input matInput formControlName="prenom">
    <mat-error *ngIf="form.get('prenom').invalid">Veuillez entrer votre prénom</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="form.get('email').invalid">Veuillez entrer une adresse email valide</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Téléphone</mat-label>
    <input matInput formControlName="telephone">
    <mat-error *ngIf="form.get('telephone').invalid">Veuillez entrer un numéro de téléphone à 10 chiffres</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="form.get('date').invalid">Veuillez choisir une date</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Heure</mat-label>
    <input matInput [ngxTimepicker]="timepicker" formControlName="heure">
    <ngx-material-timepicker #timepicker></ngx-material-timepicker>
    <ngx-material-timepicker-toggle matSuffix [for]="timepicker"></ngx-material-timepicker-toggle>
    <mat-error *ngIf="form.get('heure').invalid">Veuillez choisir une heure</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Envoyer</button>
</form>
