<header>
  <!--? Header Start -->
  <div class="header-area">
    <div class="main-header header-sticky">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!-- Logo -->
          <div class="col-xl-2 col-lg-2 col-md-1">
            <div class="logo">
              <a class="nav-link" routerLink="/" aria-current="page">
                <img src="assets/img/logo/logo.png" alt="logo" title="logo">
              </a>
            </div>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-10">
            <div class="menu-main d-flex align-items-center justify-content-end">
              <!-- Main-menu -->
              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li>
                      <a routerLink="/" routerLinkActive="active"  aria-current="acceuil" title="acceuil">
                        Acceuil
                      </a>
                    </li>
                    <li><a routerLink="/rendez-vous" routerLinkActive="active" title="rendez-vous" >Rendez-vous</a></li>
                    <!-- <li><a href="about.html" title="about">A propos</a></li> -->
                    <li><a href="#">Contact</a></li>
                    <li><a href="#" title="compte">Compte</a>
                      <ul class="submenu">
                        <li><a href="blog.html">tableau de bord</a></li>
                        <li><a href="elements.html">se deconnecter</a></li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
